// Specific CSS for your home-page

@import "components/banner-homepage";

.home-container {
  margin: auto;
  width: 1000px;
}

#ruptcare {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 113px;
  color: #006DBB;
}

.slogan {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.proposition-value {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #777777;
}

.modules {
  display: flex;
  grid-templates-column: 1fr 1fr 1fr;
  grid-gap: 48px;
}

.module-propositions {
  background: #FFFFFF;
  border: 1px solid #50D890;
  box-sizing: border-box;
  border-radius: 20px;
}

.module-propositions img {
  align-items: center;
  height: 100px;
  width: 100px;
}

.module-propositions h1 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #006DBB;
}

.module-propositions p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.testimonies {
  display: flex;
}

.card-testimony {
  background: #FFFFFF;
  border: 2px solid #006DBB;
  box-sizing: border-box;
  border-radius: 20px;
}

.final-word {
  background: #006DBB;
}

.final-word {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}
