<%= render 'shared/navbar' %>
  <div class="background-home">
    <div class="home-container">
        <div id="ruptcare"> Rupt'Care</div>
        <div class="slogan"><h1>Simplifiez vous la vie</h1></div>
          <div class="value-proposition">
            <h1>La solution indispensable en cas de rupture de médicaments</h1>
              <h2> Il existe en moyenne 2400 médicaments en rupture en France</h2>
                <h3>Rupt’Care vous propose à travers 3 modules la solution la plus adaptée pour vous dépanner rapidement</h3>
            </div>
      <div class="modules">
        <div class="module-propositions">
          <img src="/assets/Pharmacies.png" alt="">
            <h1>Pharmacies</h1>
            <p>Faites vous dépanner si le médicament en rupture est encore présent chez un de vos confrères du réseau Rupt’Care</p>
        </div>
         <div class="module-propositions">
          <img src="/assets/Laboratoires.png" alt="">
            <h1>Laboratoires</h1>
            <p>Contacter le ou les laboratoire en envoyant une demande de dépannage exceptionnel du médicament en rupture</p>
        </div>
        <div class="module-propositions">
          <img src="/assets/Alternatives.png" alt="">
            <h1>Médicaments</h1>
            <p>Trouver rapidement un équivalent thérapeutique à proposer et à valider avec le prescripteur</p>
        </div>
      </div>
        <div class="satisfaction"><h1> Ils sont satisfait de Rupt'Care</h1></div>
        <div class="testimonies">
          <div class="card-testimony">
            <p>“J’ai pu rapidement trouvé et validé mon alternative à la mianserine avec le médecin traitant”</p>
            <h1>Magalie, Paris</h1>
          </div>
           <div class="card-testimony">
            <p>“En deux clics, j’ai pu trouvé tout de suite du Lutenyl dans une autre pharmacie du réseau“</p>
            <h1>Julien, Oise</h1>
          </div>
           <div class="card-testimony">
            <p>“Ma boite de Dépamide m’a été rapidement livrée par le laboraoire grâce à la procédure simplifiée de Rupt’Care”</p>
            <h1>Phillippe, Hérault </h1>
          </div>
        </div>
    </div>
    <div class="final-word"><h1>Développé par des pharmaciens pour des pharmaciens</h1></div>
<%= render 'shared/footer' %>
