<body>
    <div class="home-container">
      <div id="ruptcare"> Rupt'Care</div>
        <div class="slogan">L’outil intelligent pour résoudre les ruptures de médicaments en pharmacie</div>
          <div class="value-proposition">Le saviez-vous ? En 2020, plus de 2400 molécules étaient référencées en rupture</div>
            <h1>Les médicaments en rupture les plus recherchés en 2020</h1>
            <p>Diazépam 10 mg comprimé</p>
            <p>Exacyl 500 mg cpr pellic </p>
            <p>Diazépam 2 mg cpr</p>
            <p>Diazepam 5 mg comprimé</p>
            <p>Aspegic BB 100 mg Buv Sachet</p>
            <p>Vivelledot 75 mcg/24 h disp</p>
            <p>Grazax 75000 Lyophilisé Oral </p>
            <p>Aspirine Protect 100 mg cpr </p>
              <h2>Rupt’Care vous propose la meilleure démarche pour trouver des solutions actionables en 3 modules</h1>
      <div class="modules">
        <div class="module-propositions">
          <img src="/assets/Pharmacies.png" alt="">
            <h1>Pharmacies</h1>
            <p>Faites vous dépanner si le médicament en rupture est encore présent chez un de vos confrères du réseau Rupt’Care</p>
        </div>
         <div class="module-propositions">
          <img src="/assets/Laboratoires.png" alt="">
            <h1>Laboratoires</h1>
            <p>Contacter le ou les laboratoire en envoyant une demande de dépannage exceptionnel du médicament en rupture</p>
        </div>
        <div class="module-propositions">
          <img src="/assets/Alternatives.png" alt="">
            <h1>Alternatives médicamenteuses</h1>
            <p>Trouver rapidement un équivalent thérapeutique à proposer et à valider avec le prescripteur</p>
        </div>
      </div>
        <h1> Ils sont satisfait de Rupt'Care</h1>
        <div class="testimonies">
          <div class="card-testimony">
            <p>“J’ai pu rapidement trouvé et validé mon alternative à la mianserine avec le médecin traitant”</p>
            <h1>Magalie, Paris</h1>
          </div>
           <div class="card-testimony">
            <p>“En deux clics, j’ai pu trouver tout de suite du Lutenyl dans une autre pharmacie du réseau“</p>
            <h1>Julien, Oise</h1>
          </div>
           <div class="card-testimony">
            <p>“Ma boite de Dépamide m’a été rapidement livré par le laboraoire grâce à la procédure simplifiée de Rupt’Care”</p>
            <h1>Phillippe, Hérault </h1>
          </div>
        </div>
    </div>
    <div class="final-word">
      <h1>Développé par des pharmaciens pour des pharmaciens</h1>
    </div>
</body>
<%= render 'shared/footer' %>
