<body>
    <div class="home-container">
       <h1 id="RuptCare"> Rupt'Care L’outil intelligent pour résoudre les ruptures de médicaments en pharmacie</h1>
       <h2 class="h2-home">Le saviez-vous ? En 2020, plus de 2400 molécules étaient référencées en rupture</h2>
       <h1>Les médicaments en rupture les plus recherchés en 2020</h1>
    </div>
</body>
