.navbar-lewagon {
  justify-content: space-between;
  color: black;
  height:80px;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  padding-bottom: 12px;
}

.navbar-lewagon-white {
  background-color: white;
  color: #01418D;
}

.page-pages-home .navbar-lewagon {
  background-color: transparent;
  transition: background-color 0.5s ease;
  position: fixed;
  width: 100%;
  box-shadow: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  object-fit: cover;
  background-size: cover;

  border-radius: 50%;
}

.avatar-large {
  object-fit: cover;
  background-size: cover;
  border: 2px solid #FFFBFB;
}

.nav-link {
  font-size: 18px;
  text-transform: none;
  color: black;
  margin-right: 30px;
  //border-right: 1px solid grey;
  padding-right: 40px;
}

.page-pages-home .navbar-light .nav-link {
  color: white;
}

.page-pages-home .navbar-light .nav-link:hover {
  color: white;
  opacity: 0.8;
}

.btn-connexion {
  color: #006DBB;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 500;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-connexion:hover {
  background:#006DBB;
  color: white;;
}

.btn-inscription {
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 500;
  background: #006DBB;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-inscription:hover {
  background: white;
  color: #006DBB;;
}

#navbarDropdown {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #FFFB;
    position: relative;
    top: 2px;
}

li a {
  text-decoration: none;
  color:#01418D;
  font-size: 1.1rem;
  font-family: 'Work Sans',sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 10px;

}

li a:hover {
  color: #01418D;
}

.nav-item-home {
  margin-inline: 96px;
}

.nav-item {
 margin-top: 16px;
 margin-left: 48px;
}
